# Local: API_ORIGIN=http://localhost:3000
# Staging: https://api-staging.cine.io.vn
# Production: https://api.cine.io.vn
API_ORIGIN=

# Local: API_PREFIX=/api/v1
# Staging: /api/v1
# Production: /api/v1
API_PREFIX=/api/v1
