# 
node_modules
dist
build
.next
.out
.turbo
.cache
coverage
.git
.gitignore
.pnpm-store
*.tsbuildinfo

# 
.eslintcache

# env files
.env
.env.*

# editor
.vscode
.idea
.cursor

# OS
.DS_Store
Thumbs.db

# logs
*.log
logs

# local runtime data
docker-data
*.pid
compose.override.yml

# temp
.tmp
temp
