# Local: development
# Staging: production
# Production: production
NODE_ENV=

# Local: postgresql://postgres:postgres@localhost:5432/cinema
# Staging: postgresql://postgres:<password>@postgres:5432/cinema
# Production: postgresql://postgres:<password>@postgres:5432/cinema
DATABASE_URL=

# Local: redis://:redis@localhost:6379
# Staging: redis://:<password>@redis:6379
# Production: redis://:<password>@redis:6379
REDIS_URL=
