# Staging: staging.cine.io.vn
# Production: cine.io.vn
WEB_HOST=

# Staging: admin-staging.cine.io.vn
# Production: admin.cine.io.vn
ADMIN_HOST=

# Staging: api-staging.cine.io.vn
# Production: api.cine.io.vn
API_HOST=
