# Local: postgres
# Staging: postgres
# Production: postgres
POSTGRES_USER=postgres

# Local: postgres
# Staging: <password>
# Production: <password>
POSTGRES_PASSWORD=

# Local: cinema
# Staging: cinema
# Production: cinema
POSTGRES_DB=cinema

# Local: 5432
# Staging: 5432
# Production: 5432
POSTGRES_PORT=5432

# Local: 100
# Staging: 100
# Production: 100
DB_MAX_CONNECTIONS=100

# Local: redis
# Staging: <password>
# Production: <password>
REDIS_PASSWORD=

# Local: 6379
# Staging: 6379
# Production: 6379
REDIS_PORT=6379
