# Local: NEXT_PUBLIC_API_ORIGIN=http://localhost:3000
# Staging: https://api-staging.cine.io.vn
# Production: https://api.cine.io.vn
NEXT_PUBLIC_API_ORIGIN=

# Local: NEXT_PUBLIC_API_PREFIX=/api/v1
# Staging: /api/v1
# Production: /api/v1
NEXT_PUBLIC_API_PREFIX=/api/v1
