server {
    listen 80;
    server_name ${API_HOST};

    include /etc/nginx/snippets/health.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${API_HOST};

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/security.conf;
    include /etc/nginx/snippets/health.conf;

    location / {
        include /etc/nginx/snippets/rate-limit.conf;

        set $upstream http://api:3000;
        proxy_pass $upstream;
        include /etc/nginx/snippets/proxy.conf;
    }
}
