server {
    listen 80;
    server_name ${WEB_HOST};

    include /etc/nginx/snippets/health.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${WEB_HOST};

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/security.conf;
    include /etc/nginx/snippets/health.conf;

    location / {
        set $upstream http://web-user:80;
        proxy_pass $upstream;
        include /etc/nginx/snippets/proxy.conf;
    }
}
