API_PORT=3000
API_ORIGIN=http://localhost:3000
CORS_ORIGINS=http://localhost:4000,http://localhost:4001
ENABLE_SWAGGER=true
LOG_LEVEL=log

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cinema
DATABASE_URL_RO=postgresql://cinema_ro:cinema_ro@localhost:5432/cinema
