# Local: 3000
# Staging: 3000
# Production: 3000
PORT=3000

# Local: http://localhost:3000
# Staging: https://api-staging.cine.io.vn
# Production: https://api.cine.io.vn
API_ORIGIN=

# Local: /api
# Staging: /api
# Production: /api
API_PREFIX=/api

# Local: http://localhost:4000,http://localhost:4001
# Staging: https://staging.cine.io.vn,https://admin-staging.cine.io.vn
# Production: https://cine.io.vn,https://admin.cine.io.vn
CORS_ORIGINS=

# Local: true
# Staging: true
# Production: false
ENABLE_SWAGGER=

# Local: log
# Staging: log
# Production: warn
LOG_LEVEL=
